{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/quote" method="post" style="display: flex; padding-left: 2rem; margin-bottom: 2rem">
        <div>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit" style="margin-left: 2rem">Search</button>
    </form>
    {% if data and price%}
    <div class="section">
        <table>
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ data.symbol }}</td>
                    <td>{{ data.name }}</td>
                    <td>{{ price }}</td>
                </tr>
        </table>
    </div>
    {% endif %}
{% endblock %}